body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/077/original/veggiepicture.jpg?1734521495");
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 600px;
  background-color: #fff;
  margin: 40px auto;
  padding-bottom: 30px;
  border-radius: 10px;
}

header {
  margin-bottom: 20px;
}

h1 {
  padding-top: 30px;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.input-box {
  border-radius: 50px;
  border: 2px solid rgb(231, 109, 61);
  font-size: 16px;
  padding: 16px;
  width: 70%;
}

.submit-button {
  border: none;
  border-radius: 50px;
  background-color: rgb(231, 109, 61);
  color: #fff;
  font-size: 16px;
  padding: 16px;
  width: 120px;
}

.recipe {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
  border-left: 3px solid rgb(231, 109, 61);
}

a {
  color: rgb(231, 109, 61);
}
footer {
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}
